<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="30" class="p-0 bg-slate-200">
        <br>
        <h1 class="text-indigo-600"><strong class="ml-16">Sign in to your account</strong></h1>
        <form fxLayoutAlign="streth" fxLayout="column" class="p-8">
            <!-- username -->
            <mat-form-field>
                <mat-label>
                    <mat-icon>perm_identity</mat-icon> Username
                </mat-label>
                <input matInput [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>
            <!-- password -->
            <mat-form-field>
                <mat-label>
                    <mat-icon>lock</mat-icon> Password
                </mat-label>
                <input matInput type="password" [type]="hide ? 'password' : 'text'" [formControl]="password">
                <mat-error *ngIf="password.invalid">{{passwordErrorMessage}}</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-3xl text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Login
            </button>
            <br>
            <p>Don't have an account? <a routerLink="/signup" class="text-indigo-600 font-semibold ml-3">Sign up</a></p>
        </form>
    </mat-card>
</div>